<h1>Login</h1>

<% if @errors %>
    <div id="error_explanation">
      <h2><%= @errors %></h2>
    </div>
<% end %>

<%= form_tag("/signin", :method => "post") do %>
  <%= label_tag :email_address, nil %><br>
  <%= text_field_tag :email_address, "" %><br><br>
  <%= label_tag :password, nil %><br>
  <%= password_field_tag :password, "" %><br><br>
  <%= submit_tag "Login" %>
<%end%>
<br>

<%= link_to 'Create an account', new_user_path %>
