<h1>Login</h1>

<%= form_tag("/signin", :method => "post") do %>
  <%= label_tag :email_address, nil %><br>
  <%= text_field_tag :email_address, "" %><br><br>
  <%= label_tag :password, nil %><br>
  <%= password_field_tag :password, "" %><br><br>
  <%= submit_tag "Login" %>
<%end%>
<br>

<%= link_to 'Sign Up', new_user_path %>
