<p id="notice"><%= notice %></p>

<h1><%= @organization.name %></h1>
<h2>Shifts</h2>

<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Shift Date</th>
      <th>Start Time</th>
      <th>Finish Time</th>
      <th>Break length (minutes)</th>
      <th>Hours Worked</th>
      <th>Shift Cost</th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.user.name %></td>
        <td><%= shift.start.strftime('%D') %></td>
        <td><%= shift.start.strftime('%I:%M%p') %></td>
        <td><%= shift.finish.strftime('%I:%M%p') %></td>
        <td><%= shift.break_length %></td>
        <td><%= shift.hours_worked %></td>
        <td>$<%= shift.cost(@organization.hourly_rate) %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Shift', new_shift_path %>
