<h2 style='color: red'><%= alert %></h2>


<%= form_with model: @user, url: password_path do |form| %>

 <div class="field">
    <%= form.label :old_password %>
    <%= form.password_field :old_password %>
  </div>

   <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <%= form.submit 'Reset Password' %>
<%end%>